	<!-- icon container -->
	<div id="dashboard-container">
		<div class="jumbotron" id="icon-container">
			<div id="icon-box">
				<button class="btn btn-outline-success">
					<img src="./assets/img/cookbook.png" alt="My CookBook" class="button-img">
					<h3 class="button-name">My Recipes</h3>
				</button>
				<a href="/create-recipe" class="btn btn-outline-info">
					<img src="./assets/img/create-recipe.png" alt="Create Recipe" class="button-img">
					<h3 class="button-name">Create Recipe</h3>
				</a>
				<button class="btn btn-outline-danger">
					<img src="./assets/img/delete-recipe.png" alt="Delete Recipe" class="button-img">
					<h3 class="button-name">Delete Recipe</h3>
				</button>
			</div>
		</div>
	</div>

	<!-- sample recipe card -->

	<div class="container">
		<h1>Welcome, {{user.[0].first_name}}</h1>
		<div class="row">
			{{#each user.[0].Recipes}}<div class="col-sm-4 mb-3">
				<a href="my-recipe/{{id}}" class="card recipe" id="recipe-card-container">
					{{#if recipeImage}}
						<img class="card-img-top"  src="/foodimages/{{recipeImage}}" alt="Recipe Image" class="recipe-image">
					{{/if}}
					<div class="card-body">
						<h4 class="card-title">{{recipeTitle}}</h4>
						<p class="card-text">{{recipeDescription}}</p>
					</div>
				</a>
			</div>
			{{/each}}
		</div>
	</div>