<section class="container my-4 p-4 single-recipe col-md-8 mx-auto border">
	{{#if recipe.recipeImage }}
		<div class="recipe-header-container img-container">
			<img class="img-fluid recipe-header-image" src="/foodimages/{{recipe.recipeImage}}" alt="Card image cap">
		</div>
	{{/if}}

	<h1 class="my-4">{{recipe.recipeTitle}}</h1>
	{{#if recipe.recipeDescription}}
	<p>{{recipe.recipeDescription}}</p>
	{{/if}}
	

	<h3 class="mt-5">Instructions</h3>

	<div class="steps">
		{{{recipe.recipeProcedure}}}
	</div>

	<h3 class="mt-5">Ingredients</h3>

	<ul>
		{{#each recipe.Ingredients}}
			<li class="mb-2"><span class="bold quantity">{{quantity}}</span> {{measurement}} {{name}}</li>
		{{/each}}
	</ul>
</section>